{% load i18n %}
{% load bootstrap5 %}

{% bootstrap_messages %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans "Title" %}</th>
      <th scope="col">{% trans "Color" %}</th>
      <th scope="col">{% trans "Select" %}</th>
    </tr>
  </thead>
  {% if object_list %}
    <form id="checked-rows">
      <tbody id="row-list">
        {% for row in object_list %}
          <tr id="row-{{ row.id }}">
            {% include "bulktable/htmx/detail.html" %}
          </tr>
        {% endfor %}
      </tbody>
    </form>
  {% else %}
    <p>{% trans "No rows yet" %}</p>
  {% endif %}
</table>
