{% load i18n %}

<div {% if page_obj.number %}
       hx-get="{% url 'bulktable:list' %}?page={{ page_obj.number }}"
     {% else %}
       hx-get="{% url 'bulktable:list' %}"
     {% endif %}
     hx-trigger="refreshList from:body"
     hx-target="#content"
     hx-push-url="true">
</div>
<div class="card mx-auto" style="max-width: 960px">
  <div class="card-header">
    <h3>{% translate 'Rows' %}</h3>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div id="add-button" class="col">
        {% include "bulktable/htmx/add_button.html" %}
      </div>
      <div id="update-button" class="col text-end">
        {% include "bulktable/htmx/update_button.html" %}
      </div>
    </div>
    {% include "bulktable/htmx/list_loop.html" %}
  </div>
  {% if page_obj.has_previous or page_obj.has_next %}
    <div class="card-footer">
      <div class="row">
        <div class="col">
          {% if page_obj.has_previous %}
            <a class="link-primary"
               hx-get="{% url 'bulktable:list' %}?page={{ page_obj.previous_page_number }}"
               hx-target="#content"
               hx-push-url="true"
               title="{% trans 'Previous rows' %}">
              <i class="fa fa-arrow-left"></i>
            </a>
          {% endif %}
        </div>
        <div class="col text-end">
          {% if page_obj.has_next %}
            <a class="link-primary"
               hx-get="{% url 'bulktable:list' %}?page={{ page_obj.next_page_number }}"
               hx-target="#content"
               hx-push-url="true"
               title="{% trans 'Next rows' %}">
              <i class="fa fa-arrow-right"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
