{% load bootstrap5 %}
{% load i18n %}

<div class="card text-start" style="margin-bottom: 15px">
  <div class="card-body">
    <form
      hx-include="#checked-rows"
      hx-post="{% url 'bulktable:update' %}"
      hx-target="#content">
      {% bootstrap_form form %}
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" type="submit">
            {% trans "Update" %}
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
          </button>
          <button class="btn btn-close"
                  hx-get="{% url 'bulktable:update_button' %}"
                  hx-target="#update-button"
                  title="{% trans 'Dismiss' %}">
          </button>
        </div>
        <div class="col text-end">
          <button class="btn btn-danger"
                  hx-include="#checked-rows"
                  hx-get="{% url 'bulktable:delete' %}"
                  hx-target="#content"
                  hx-push-url="true"
                  title="{% trans 'Delete' %}"
                  hx-confirm="{% trans 'Are you sure you want to delete the checked rows?' %}">
            <i class="fa fa-times"></i>
            <span class="htmx-indicator spinner-border spinner-border-sm"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
