{% load i18n %}

<div class="alert alert-secondary">
  <div class="row">
    <div class="col col-10">
      <strong>{{ category.get_punctuated_index }}</strong> -
      <a class="link-primary"
         title="{% trans 'Modify category' %}"
         hx-get="{% url 'hierarchy:update' pk=category.id %}"
         hx-target="#cat-{{ category.id }}">
        {{ category.title }}</a>
    </div>
    <div class="col text-end">
      {% if category.get_previous_sibling %}
        <a class="link-primary"
           title="{% trans 'Move up' %}"
           hx-get="#"
           hx-target="#list-refresh">
          <i class="fa fa-arrow-up"></i></a>
      {% endif %}
      {% if category.get_next_sibling %}
        <a class="link-primary"
           title="{% trans 'Move down' %}"
           hx-get="#"
           hx-target="#list-refresh">
          <i class="fa fa-arrow-down"></i></a>
      {% endif %}
    </div>
  </div>
</div>
