{% load i18n %}

<div class="alert alert-secondary">
  <div class="row">
    <div class="col col-10">
      <strong>{{ object.get_punctuated_index }}</strong> -
      <a class="link-primary"
         title="{% trans 'Modify category' %}"
         hx-get="{% url 'hierarchy:update' pk=object.id %}"
         hx-target="#cat-{{ object.id }}">
        {{ object.title }}</a>
    </div>
    <div class="col text-end">
      {% if object.get_previous_sibling %}
        <a class="link-primary"
           title="{% trans 'Move up' %}"
           hx-get="{% url 'hierarchy:move_up' pk=object.id %}"
           hx-target="#cat-{{ object.id }}">
          <i class="fa fa-arrow-up"></i></a>
      {% endif %}
      {% if object.get_next_sibling %}
        <a class="link-primary"
           title="{% trans 'Move down' %}"
           hx-get="{% url 'hierarchy:move_down' pk=object.id %}"
           hx-target="#cat-{{ object.id }}">
          <i class="fa fa-arrow-down"></i></a>
      {% endif %}
    </div>
  </div>
</div>
