{% load i18n %}
{% load bootstrap5 %}
{% load timeline_tags %}

<div hx-get="{% url 'timeline:list' year=year month=month %}"
     hx-trigger="refreshList from:body"
     hx-target="#content"
     hx-push-url="true">
</div>
{% bootstrap_messages %}
<table class="table table-hover table-sm">
  <thead class="table-dark" style="position: sticky; top: 0; z-index: 1">
    <tr>
      <th scope="col" id="add-button">{% include "timeline/htmx/add_button.html" %}</th>
      <th scope="col">{% include "timeline/htmx/year.html" %}</th>
    </tr>
    <tr>
      <th scope="col">{% trans "Phase title" %}</th>
      <th scope="col" class="text-center">{% include "timeline/htmx/months.html" %}</th>
    </tr>
  </thead>
  {% if object_list %}
    <tbody>
      {% for phase in object_list %}
        <tr>
          <td id="phase-index-{{ phase.id }}">
            {% include "timeline/htmx/detail.html" %}
          </td>
          <td>
            <div style="{% draw_bar_chart phase year month %}">
              <a class="link-dark"
                 href="#"
                 title="{{ phase.get_popup }}">
                (*)
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% else %}
    <p>{% trans "No phases yet" %}</p>
  {% endif %}
</table>
