{% load i18n %}

<div class="row">
  <div class="col">
    {% trans "Jan" %}
  </div>
  <div class="col">
    {% trans "Feb" %}
  </div>
  <div class="col">
    {% trans "Mar" %}
  </div>
  <div class="col">
    {% trans "Apr" %}
  </div>
  <div class="col">
    {% trans "May" %}
  </div>
  <div class="col">
    {% trans "Jun" %}
  </div>
  <div class="col">
    {% trans "Jul" %}
  </div>
  <div class="col">
    {% trans "Aug" %}
  </div>
  <div class="col">
    {% trans "Sep" %}
  </div>
  <div class="col">
    {% trans "Oct" %}
  </div>
  <div class="col">
    {% trans "Nov" %}
  </div>
  <div class="col">
    {% trans "Dec" %}
  </div>
</div>
