{% load bootstrap5 %}
{% load i18n %}
{% load htmx_tags %}

<div class="card">
  <form {% htmx_request form_submit %}>
    <div class="card-body">
      {% bootstrap_form form %}
      <button class="btn btn-success" type="submit">
        {% trans "Add" %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
      <button class="btn-close"
              title="{% trans 'Dismiss' %}"
              {% htmx_request form_dismiss %}>
      </button>
    </div>
  </form>
</div>
