{% load i18n %}

<div hx-get="{% url 'boxlist:list' %}"
     hx-target="#content"
     hx-trigger="refreshList from:body">
</div>
<div class="card mx-auto" style="max-width: 480px">
  <div class="card-header">
    <h3>{% translate 'Item list' %}</h3>
  </div>
  <div class="card-body">
    <div id="add-button" class="mb-3">
      {% include "boxlist/htmx/add_button.html" %}
    </div>
    {% if object_list %}
      <form class="sortable"
            hx-post="{% url 'boxlist:sort' %}"
            hx-trigger="end"
            hx-target="#content">
        <div class="htmx-indicator">
          <p>{% trans "Updating order..." %}</p>
        </div>
        {% for object in object_list %}
          <div id="item-{{ object.id }}"
               hx-get="{% url 'boxlist:detail' pk=object.id %}"
               hx-trigger="refreshItem{{ object.id }} from:body"
               hx-swap="innerHTML">
            {% include "boxlist/htmx/detail.html" %}
          </div>
        {% endfor %}
      </form>
    {% else %}
      <p>{% trans "No items yet" %}</p>
    {% endif %}
  </div>
</div>
