{% load i18n %}

<div hx-get="{% url 'boxlist:list' %}"
     hx-target="#content"
     hx-trigger="refreshList from:body">
</div>
<div class="card mx-auto" style="max-width: 480px">
  <div class="card-header">
    <h3>{% translate 'Item list' %}</h3>
  </div>
  <div class="card-body">
    <div id="add-button" class="mb-3">
      {% include "boxlist/htmx/add_button.html" %}
    </div>
    {% if object_list %}
      {% for item in object_list %}
        <div id="item-{{ item.id }}"
             hx-get="{% url 'boxlist:detail' pk=item.id %}"
             hx-trigger="refreshItem{{ item.id }} from:body">
          {% include "boxlist/htmx/detail.html" %}
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "No items yet" %}</p>
    {% endif %}
  </div>
</div>
