{% load i18n %}

<div hx-get="{% url 'boxlist:list' %}"
     hx-target="#content"
     hx-trigger="refreshList from:body">
</div>
<div class="card mx-auto" style="max-width: 480px">
  <div class="card-header">
    <h3>{% translate 'Item list' %}</h3>
  </div>
  <div class="card-body">
    <div id="add-button" class="mb-3">
      {% include "boxlist/htmx/add_button.html" %}
    </div>
    {% if object_list %}
      <form class="sortable"
            hx-get="{% url 'boxlist:sort' %}"
            hx-trigger="end"
            hx-swap="none">
        <div class="htmx-indicator">
          <p>{% trans "Updating order..." %}</p>
        </div>
        {% for object in object_list %}
          <div id="item-{{ object.id }}"
               hx-get="{% url 'boxlist:detail' pk=object.id %}"
               hx-trigger="refreshItem{{ object.id }} from:body"
               hx-swap="innerHTML">
            <input type='hidden' name='item' value='{{ object.id }}'/>
            {% include "boxlist/htmx/detail.html" %}
          </div>
        {% endfor %}
      </form>
    {% else %}
      <p>{% trans "No items yet" %}</p>
    {% endif %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
  htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
        animation: 150,
        ghostClass: 'blue-background-class'
      });
    }
  })
</script>
